.progmatic_footer_logo {
    font-family: 'BIZ UDGothic', sans-serif
}

.progmatic_footer_buttom{
    font-size : .6rem;
}

.progmatic_footer{
    text-align:center;
    margin-top: 2rem;
}

.progmatic_header{
    text-align:center;
    margin : 2rem 0;
}

@media screen and (max-width: 500px)
{
    html{
        font-size : 13px
    }
}